@model List<TagVM>
@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-right:100px">
    <h1 class="text-center mt-3 mb-3">Tags</h1>
    <a class="btn btn-success text-white" asp-action="Create">Create</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        CreatedDate
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>


                        <td class="py-1">
                            @item.Name
                        </td>

                        <td>
                            @item.CreatedDate.ToString("MM/dd/yyyy")
                        </td>

                        <td>
                            <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <form class="d-inline-block" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

