@model AboutPageVM
@{
    ViewData["Title"] = "Index";
}

<!-- Page Banner Section Start-->
<div class="page-banner-section section" style="background-image: url(/img/bg/page-banner.jpg)">
    <div class="container">
        <div class="row">

            <!-- Page Title Start -->
            <div class="page-title text-center col">
                <h1>About us</h1>
            </div><!-- Page Title End -->

        </div>
    </div>
</div><!-- Page Banner Section End-->
<!-- About Section Start-->
<div class="about-section section pt-120 pb-90">
    <div class="container">
        <div class="row flex-row-reverse">

            <!-- About Image -->
            <div class="about-image col-lg-6 col-12 mb-30">
                <a class="video-popup" href="@Model.About.Video"><img src="~/img/@Model.About.Image" alt=""></a>
            </div>

            <!-- Mission Content -->
            <div class="about-content col-lg-6 col-12 mb-30">
                @Html.Raw(Model.About.Title)
                <p>@Model.About.Description</p>
                <a href="#" class="button">Shop Now</a>
            </div>

        </div>
    </div>
</div><!-- About Section End-->
<!-- Team Section Start-->
<div class="team-section section pb-120">
    <div class="container">

        <div class="row">
            <div class="section-title text-center col mb-60">
                <h1>Our Team</h1>
            </div>
        </div>

        <div class="team-wrapper row">
            @foreach (var team in Model.Teams)
            {
                <div class="single-team col-lg-3 col-md-6 col-12">
                    <img src="~/img/team/@team.Image" alt="team">
                    <div class="content">
                        <h4>@team.FullName</h4>
                        <span>@team.Position</span>
                    </div>
                </div>

            }

           
        </div>

    </div>
</div><!-- Team Section End-->
<!-- Funfact Section Start-->
<div class="funfact-section section pb-90">
    <div class="container">
        <div class="row">

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
                <div class="wrap">
                    <i class="fa fa-users"></i>
                    <h2 class="counter">110</h2>
                    <p>Happy Clients</p>
                </div>
            </div>

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
                <div class="wrap">
                    <i class="fa fa-trophy"></i>
                    <h2 class="counter">90</h2>
                    <p>Award Winning</p>
                </div>
            </div>

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
                <div class="wrap">
                    <i class="fa fa-thumbs-up"></i>
                    <h2 class="counter">230</h2>
                    <p>Project Done</p>
                </div>
            </div>

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
                <div class="wrap">
                    <i class="fa fa-coffee"></i>
                    <h2 class="counter">350</h2>
                    <p>Cups of Coffee</p>
                </div>
            </div>

        </div>
    </div>
</div><!-- Funfact Section End-->
<!-- Client Section Start-->
<div class="client-section section pb-90">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="client-slider text-center">

                    <!-- Single Client -->
                    @foreach (var brand in Model.Brands)
                    {
                        <div class="single-client"><img src="~/img/client/@brand.Image" alt="client"></div>

                    }
                  

                </div>

            </div>
        </div>
    </div>
</div><!-- Client Section End-->

