@model List<ReviewVM>

@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-right:100px">
    <h1 class="text-center mt-3 mb-3">Reviews</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Customer FullName
                    </th>
                    <th>
                        Message
                    </th>

                    <th>
                        CreatedDate
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="py-1">
                            <img src="~/img/testimonial/@item.Image" alt="image" />
                        </td>

                        <td class="py-1">
                            @item.CustomerName
                        </td>

                        <td class="py-1">
                            @item.Text.Substring(0, (int)Math.Ceiling(item.Text.Length * 0.3))

                        </td>




                        <td>
                            @item.CreatedDate.ToString("MM/dd/yyyy")
                        </td>

                        <td>
                            <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                            <form class="d-inline-block" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

